.Chat-main
  .Chat-main__group
    .Chat-main__grouptop
      .Chat-main__grouptop-name
        techcamp      
      = link_to "URL", class: "Chat-main__grouptop-edit" do 
        Edit
    .Chat-main__groupbottom
      Member : まさ
  


  .Chat-main__message
    .Chat-main__messageinfo
      .Chat-main__messageinfo-name
        まさ
      .Chat-main__messageinfo-daytime
        xxxx/xx/xx/(xxx) xx:xx:xx

    .Chat-main__message-text
      おはよう

  .Chat-main__form
  

