.Chat-main
  .Chat-main__group
    .Chat-main__grouptop
      .Chat-main__grouptop-name
        techcamp      
      = link_to "URL", class: "Chat-main__grouptop-edit" do 
        Edit
    .Chat-main__groupbottom
      Member : まさ
  


  .Chat-main__message
  .Chat-main__form
  

