.Side-bar
  .Side-bar__user
    .Side-bar__userbox
      .Side-bar__name
        まさ
      .Side-bar__btn
        = link_to "#", class: "Side-bar__btn--edit" do
          = icon('far', 'edit')
        = link_to "%", class: " Side-bar__btn--cog" do
          = icon('fas', 'cog')
        
  .Side-bar__group
